<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>ChitChat</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              "primary-bg": "#1F2937", // Dark Grey (gray-800)
              "secondary-bg": "#111827", // Even Darker Grey (gray-900)
              "accent-blue": "#4F46E5", // Indigo-600
              "accent-hover": "#4338CA", // Indigo-700
            },
          },
        },
      };
    </script>
  </head>
  <body class="bg-secondary-bg text-gray-200 font-sans min-h-screen">
    <div id="content" class="min-h-screen flex flex-col">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
